body {
    font-family: 'Righteous', cursive;
}

/*Nav section*/

.navbar-brand {
    font-family: 'Righteous', cursive;
}

.nav-item {
    font-family: 'Righteous', cursive;
}

/* main content*/

/* page bakground*/

.wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #45a29e;

}

/* board section*/

/*back of board*/

.back {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background-color: black;
    margin: auto;
    position: relative;
}

/* board oloured pads*/

.pad1 {
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 50%;
    border-top: solid .9rem black;
    border-left: solid .9rem black;
    border-bottom: solid .45rem black;
    border-right: solid .45rem black;
    background-color: darkred;
    border-radius: 100% 0 0 0;

}

.pad2 {
    top: 0;
    left: 50%;
    position: absolute;
    width: 50%;
    height: 50%;
    border-top: solid .9rem black;
    border-bottom: solid .45rem black;
    border-right: solid .9rem black;
    border-left: solid .45rem black;
    box-sizing: border-box;
    background-color: darkgreen;
    border-radius: 0 100% 0 0;

}

.pad4 {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 50%;
    height: 50%;
    border-top: solid .45rem black;
    border-bottom: solid .9rem black;
    border-right: solid .9rem black;
    border-left: solid .45rem black;
    background-color: goldenrod;
    border-radius: 0 0 100% 0;

}

.pad3 {
    top: 50%;
    left: 0%;
    position: absolute;
    width: 50%;
    height: 50%;
    border-top: solid .45rem black;
    border-bottom: solid .9rem black;
    border-right: solid .45rem black;
    border-left: solid .9rem black;
    background-color: darkblue;
    border-radius: 0 0 0 100%;

}

/* centre black circle of game board to finish off game pad shapes*/

.centre {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    z-index: 1;
    background-color: black;
    border-radius: 50%;

}

/* styling  game start 'play' button*/

.start-button {
    position: relative;
    top: 25%;
    left: 25%;
    text-align: center;
    border-radius: 50%;
    height: 50%;
    width: 50%;
    background-color: silver;

}

.start-text {
    position: relative;
    top: 25%;
    font-family: 'Righteous', cursive;
    font-weight: bold;
    letter-spacing: .2rem;
    font-size: 1rem;
    color: white;
}

/* section beneath board for difficulty level settings and display screen*/

/* main section that holds display and difficulty levels*/

.display-section {
    margin: auto;
    width: 85%;
    border: 3px;
    padding: .5rem;
    background-color: #c4c7ce;
    vertical-align: middle;
    border-radius: 1rem;

}

/*difficulty setting section*/

.difficulty {
    font-size: .8em;
    font-weight: bold;
    font-family: 'Righteous', cursive;
    width: 100%;
    text-align: center
}

.difficulty-select1 {
    display: inline-block;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: red;
    margin-top: 2%;
    border: solid black;
}

.difficulty-select2 {
    display: inline-block;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: grey;
    border: solid black;

}

/* Display screen*/

.display-screen {
    position: relative;
    width: 100%;
    height: 1.2rem;
    display: inline-block;
    border-radius: 1rem;

}

.display-text {
    color: red;
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 1.5rem;
}

/* Footer section*/

.bottom-page {
    background-color: #343a40;
    color: #c4c7ce;
    font-size: 1rem;
    padding: 1rem;
    margin: auto;
    text-align: center;
    font-family: 'Righteous', cursive;
}

/* modals styling*/

/*changing bg colour of modal*/

.modal-content {
    /* gradient generated from  http://colorzilla.com/ */
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799', GradientType=0);
    /* IE6-9 */
    color: #fafafa;
    font-size: 1rem;

}

/*changing mpdal content borders to a dashed line*/

.modal-header {

    border-bottom: dashed .1rem;
}

.modal-footer {

    border-top: dashed .1rem;
}

/* making close button on modal larger*/

.close {
    font-size: 3rem;
}

/*New feature to display selections to user at the end of the game*/

/* setting css for display mini pads*/
.red {
    height: .5rem;
    width: .5rem;
    background-color: red;
    display: inline-block;
    margin-right: .1rem;
    border-radius: 100% 0 0 0;
    border: solid .05rem black;
}

.green {
    height: .5rem;
    width: .5rem;
    background-color: green;
    display: inline-block;
    margin-right: .1rem;
    border-radius: 0 100% 0 0;
    border: solid .05rem black;
}

.yellow {
    height: .5rem;
    width: .5rem;
    background-color: goldenrod;
    display: inline-block;
    margin-right: .1rem;
    border-radius: 0 0 100% 0;
    border: solid .05rem black;
}

.blue {
    height: .5rem;
    width: .5rem;
    background-color: blue;
    display: inline-block;
    margin-right: .1rem;
    border-radius: 0 0 0 100%;
    border: solid .05rem black;
}

/*display and position of show selections section*/
.selections {
    font-size: .8rem;
    width: 80%;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
    display: none;

}

/* media queries*/

@media only screen and (min-width: 568px) {
    /*changing display section length for larger screen*/
    .display-section {
        width: 70%;
    }
}

@media only screen and (min-width: 360px) {
    /* resizing back board for different screens*/
    .back {
        width: 20rem;
        height: 20rem;
    }
    @media only screen and (min-width: 768px) {
        /* resizing back board for different screens*/
        .back {
            width: 32rem;
            height: 32rem;
        }

        /*changing font size of play button for larger screen*/
        .start-text {
            letter-spacing: .2rem;
            font-size: 1.5rem;
        }

        /*changing display section length for larger screen*/
        .display-section {
            width: 45%;
        }

        /* increasing font size for larger screens*/
        .difficulty {
            font-size: 1rem;
        }

    }
