body {
    font-family: 'Righteous', cursive;
}

/*Nav section*/

.navbar-brand {
    font-family: 'Righteous', cursive;
}

.nav-item {
    font-family: 'Righteous', cursive;
}

/* main content*/

/* page bakground*/

.wrapper {
    background-image: url(/assets/images/bg-small.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #45a29e;
   
    
    /* adding bg colour to accommodate a slow load of bg image 
    on larger screens */
}

/* board section*/

/*back of board*/

.back {
    width: 19rem;
    height: 19rem;
    border-radius: 50%;
    background-color: black;
    margin: auto;
    position: relative;
}

/* board oloured pads*/

.pad1 {
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 50%;
    border-top: solid .9rem black;
    border-left: solid .9rem black;
    border-bottom: solid .45rem black;
    border-right: solid .45rem black;
    background-color: darkred;
    border-radius: 100% 0 0 0;

}

.pad2 {
    top: 0;
    left: 50%;
    position: absolute;
    width: 50%;
    height: 50%;
    border-top: solid .9rem black;
    border-bottom: solid .45rem black;
    border-right: solid .9rem black;
    border-left: solid .45rem black;
    box-sizing: border-box;
    background-color: darkgreen;
    border-radius: 0 100% 0 0;

}

.pad4 {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 50%;
    height: 50%;
    border-top: solid .45rem black;
    border-bottom: solid .9rem black;
    border-right: solid .9rem black;
    border-left: solid .45rem black;
    background-color: goldenrod;
    border-radius: 0 0 100% 0;

}

.pad3 {
    top: 50%;
    left: 0%;
    position: absolute;
    width: 50%;
    height: 50%;
    border-top: solid .45rem black;
    border-bottom: solid .9rem black;
    border-right: solid .45rem black;
    border-left: solid .9rem black;
    background-color: darkblue;
    border-radius: 0 0 0 100%;

}

/* centre black circle of game board to finish off game pad shapes*/

.centre {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    z-index: 1;
    background-color: black;
    border-radius: 50%;

}

/* centre text in centre black pad*/

.centre-text {
    position: relative;
    top: 25%;
    color: silver;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    clear: right;
    font-family: 'Righteous', cursive;
}

/* styling  game start 'play' button*/

.start-button {
    position: relative;
    top: 25%;
    left: 25%;
    color: red;
    text-align: center;
    border-radius: 50%;
    height: 25%;
    width: 50%;
    background-color: silver;

}

.start-text {
    position: relative;
    top: 7%;
    font-family: 'Righteous', cursive;
    font-weight: bold;
    letter-spacing: .2rem;
    font-size: 1rem;
}

/* section beneath board for difficulty level settings and display screen*/

/* main section that holds display and difficulty levels*/

.display-section {
    margin: auto;
    width: 85%;
    border: 3px;
    padding: 10px;
    background-color: #c4c7ce;
    vertical-align: middle;
    border-radius: 1rem;

}

/*difficulty setting section*/

.difficulty {
    font-size: .8em;
    display: inline-block;
    font-weight: bold;
    font-family: 'Righteous', cursive;
    width: 100%;
}

.difficulty-select1 {
    display: inline-block;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: red;
    margin-top: 2%
}

.difficulty-select2 {
    display: inline-block;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: grey;

}

/* Display screen*/
.display-screen {
  position: relative;
  width: 45%;
  height: 1.2rem;
  display: inline-block;
  background-color: black;
  border-radius: 1rem;
  margin-left: 5%;
  
}

.display-text {
  color: red;
  font-family: 'Righteous', cursive;
  text-align: center;
}
/* Footer section*/

.bottom-page {
    background-color: #343a40;
    color: #c4c7ce;
    font-size: 1rem;
    padding: 1rem;
    margin: auto;
    text-align: center;
    font-family: 'Righteous', cursive;
}


/* media queries*/
@media only screen and (min-width: 568px) {
        /*changing display section length for larger screen*/
    .display-section {
        width: 70%;
    }
}
@media only screen and (min-width: 768px) {
    /* resizing back board for different screens*/
    .back {
        width: 30rem;
        height: 30rem;
    }

    /* setting different background images for larger screens*/
    .wrapper {
        background-image: url(/assets/images/bg.png);
    }
    /* chaning font size of centre element for larger screens*/
    .centre-text {
        font-size: 2em;
    }
    /*changing font size of play button for larger screen*/
    .start-text {
        letter-spacing: .2rem;
        font-size: 1.5rem;
    }

    /*changing display section length for larger screen*/
    .display-section {
        width: 45%;
    }

    /* increasing font size for larger screens*/
    .difficulty {
        font-size: 1rem;
    }

}
